@import "./colors";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background: $white;
   
}


.dark{
    background-color:$very-pale-blue;
    width: 100%;
    height: 260px;
}
header{
    display: flex;
    justify-content: space-between;
    background: $very-pale-blue;
    align-items: center;
    padding: 2.5rem 0;
    .title-box{

        .title{
            color: $very-dark-blue;
        }

        p{
            color: $dark-grayish-blue;
            font-weight: 700;
        }
    }
}
.container{
    width: 80%;
    margin: 0 auto;
}



.toggle-mode{
    display: flex;
    align-items: center;
    color: $dark-grayish-blue;
    font-weight: 700;
    font-size: 16px;
    input[type=checkbox]{
        -webkit-appearance: none;
        width: 90px;
        height: 40px;
        border-radius: 100px;
        margin-left: 20px;
        background: $toggle-light-theme;
        cursor: pointer;
        outline: 0;
        position: relative;
        &::before{
            content: '';
            height: 40px;
            width: 40px;
            border-radius: 50px;
            background: $white;
            transform:translateX(0) scale(0.8);
            transition: transform 0.3s;
            position: absolute;
        }
        &:checked{
            &::before{
                transform:translateX(50px) scale(0.8);
            }
        }
        }

        
}

.followers,.grid-overview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    cursor: pointer;
    background:$light-grayish-blue;
    position: relative;
    &:hover{
        background: $cardlighthover;
    }
    &::before{
        content: '';
        position: absolute;
        height: 5px;
        border-radius: 8px 8px 0 0;
        left: 0;
        right: 0;
        top: 0;
    }
    span{
        display: flex;
        align-items: center;
        color: $lime-green ;
        font-weight: 700;
        img{
            margin-right: 5px;
        }
    }
    .username{
        display: flex;
        justify-content: center;
        color: $dark-grayish-blue;
        font-weight: 700;
        img{
            margin-right: 10px;
        }
        
    }
    .down{
        color:$bright-red;
    }
    .title-card{
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span{
            font-size: 1.1em;
            color:$dark-grayish-blue;
            font-weight: 700;
        }
    }
    .text-card{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        p{
            font-size: 2.8em;
            font-weight: 700;
            color: $very-dark-blue;
        }
    }
}

.card.facebook{
    &::before{
    background:$facebook ;
    }
}
.card.instagram{
    &::before{
    background:$instagram;
    }
}
.card.twitter{
    &::before{
    background:$twitter ;
    }
}
.card.youtube{
    
    &::before{
    background:$youtube;
    }

}



.count-follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $dark-grayish-blue;

    span{
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 0;
        color: $very-dark-blue;
    }
}

.overview{
    margin-top: 50px;
    h2{
        color: $dark-grayish-blue;
        font-size: 1.7em;
        font-weight: 700;
    }
}

.grid-overview{
    margin: 20px 0;
}
