:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter:hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --toggle-light-theme: hsl(230, 22%, 74%);
  --very-dark-blue-bg: hsl(230, 17%, 14%);
  --desatured-blue: hsl(228, 34%, 66%);
  --white: hsl(0, 0%, 100%);
  -whiteBg: white;
  --very-pale-blue:hsl(225, 100%, 98%);
  --light-grayish-blue: hsl(227, 47%, 96%);
  --dark-grayish-blue: hsl(228, 12%, 44%);
  --very-dark-blue: hsl(230, 17%, 14%);
  --cardlighthover: hsl(227,32%,86%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background: var(--whiteBg);
}

.dark {
  --toggle-light-theme:linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
  --white: hsl(232, 19%, 15%);
  --light-grayish-blue: hsl(228, 28%, 20%);
  --very-dark-blue: white;
  --very-pale-blue: hsl(232, 19%, 15%);
  --whiteBg:hsl(230, 17%, 14%);
  --cardlighthover: hsl(228,26%,26%);
}

.layer {
  background-color: var(--very-pale-blue);
  width: 100%;
  height: 260px;
}

@media screen and (max-width: 768px) {
  .layer {
    height: 290px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--very-pale-blue);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
}

@media screen and (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  header .title-box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-bottom: 30px;
  }
}

header .title-box .title {
  color: var(--very-dark-blue);
}

header .title-box p {
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.toggle-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .toggle-mode {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    margin-bottom: -15px;
    border-top: 1px solid var(--dark-grayish-blue);
  }
}

.toggle-mode input[type=checkbox] {
  -webkit-appearance: none;
  width: 90px;
  height: 40px;
  border-radius: 100px;
  margin-left: 20px;
  background: var(--toggle-light-theme);
  cursor: pointer;
  outline: 0;
  position: relative;
}

.toggle-mode input[type=checkbox]::before {
  content: '';
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: var(--white);
  -webkit-transform: translateX(0) scale(0.8);
          transform: translateX(0) scale(0.8);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  position: absolute;
}

.toggle-mode input[type=checkbox]:checked::before {
  -webkit-transform: translateX(50px) scale(0.8);
          transform: translateX(50px) scale(0.8);
}

.followers, .grid-overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: 768px) {
  .followers, .grid-overview {
    -ms-grid-columns: 6fr;
        grid-template-columns: 6fr;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--light-grayish-blue);
  position: relative;
}

.card:hover {
  background: var(--cardlighthover);
}

.card::before {
  content: '';
  position: absolute;
  height: 5px;
  border-radius: 8px 8px 0 0;
  left: 0;
  right: 0;
  top: 0;
}

.card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--lime-green);
  font-weight: 700;
}

.card span img {
  margin-right: 5px;
}

.card .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.card .username img {
  margin-right: 10px;
}

.card .down {
  color: var(--bright-red);
}

.card .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card .title-card span {
  font-size: 1.1em;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.card .text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.card .text-card p {
  font-size: 2.8em;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.card.facebook::before {
  background: var(--facebook);
}

.card.instagram::before {
  background: var(--instagram);
}

.card.twitter::before {
  background: var(--twitter);
}

.card.youtube::before {
  background: var(--youtube);
}

.count-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
}

.count-follow span {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--very-dark-blue);
}

.overview {
  margin-top: 50px;
}

.overview h2 {
  color: var(--dark-grayish-blue);
  font-size: 1.7em;
  font-weight: 700;
}

.grid-overview {
  margin: 20px 0;
}
/*# sourceMappingURL=main.css.map */